h1{
    color:#023e8a;
    text-align: center;
}
h2,h3{
    color:#023e8a;
}
hr{
    border-top:1px solid rgb(9, 9, 177);
    color:#023e8a;
}
p {
    background-color: aqua;
    color:darkblue;
}
button {
    color:navy;
    background-color: #a9def9;
    border-color: #023e8a;
    font-size: large;
    font-weight: 700;

}
body{
    background-color: #caf0f8;
}
#yes{
    font-size: x-large;
}
#no{
    text-decoration: #023e8a underline;
}